html {
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

g {
    -webkit-transform-origin: center;
    transform-origin: center;
}

.country {
    fill: transparent;
    stroke: gray;
    /* fill: transparent;
    stroke: transparent; */
}

.lt {
    width: 50%;
    height: 50%;
    background-color: skyblue;
    position: absolute;
    top: 0;
    left: 0;
}
.rt {
    width: 50%;
    height: 50%;
    background-color: lightpink;
    position: absolute;
    top: 0;
    right: 0;
}
.lb {
    width: 50%;
    height: 50%;
    background-color: lightgoldenrodyellow;
    position: absolute;
    left: 0;
    bottom: 0;
}
.rb {
    width: 50%;
    height: 50%;
    background-color: lightgreen;
    position: absolute;
    right: 0;
    bottom: 0;
}

svg {
    z-index: 10;
    /* transform-box: fill-box;
    transform-origin: center; */
}


canvas {
    width: 100%;
    height: 100%;
}

#globe {
    cursor: move;
}

#current {
    position: absolute;
    font-family: sans-serif;
    margin-left: 4%;
    margin-top: 100%;
}

#percent {
    position: absolute;
    font-family: sans-serif;
    margin-left: 4%;
    margin-top: 104%;
}

.province {
    stroke-width: 1px;
}

.container2 {
    width: 100%;
    height: 100vh;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.icon-chart-container {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
}

.age-container {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.age-group {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icon-chart {
    height: 12%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-chart svg {
    font-size: 1rem;
    color: rgb(170, 170, 170);
}
