html {
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

g {
    -webkit-transform-origin: center;
    transform-origin: center;
}

.country {
    fill: transparent;
    stroke: gray;
    /* fill: transparent;
    stroke: transparent; */
}

.lt {
    width: 50%;
    height: 50%;
    background-color: skyblue;
    position: absolute;
    top: 0;
    left: 0;
}
.rt {
    width: 50%;
    height: 50%;
    background-color: lightpink;
    position: absolute;
    top: 0;
    right: 0;
}
.lb {
    width: 50%;
    height: 50%;
    background-color: lightgoldenrodyellow;
    position: absolute;
    left: 0;
    bottom: 0;
}
.rb {
    width: 50%;
    height: 50%;
    background-color: lightgreen;
    position: absolute;
    right: 0;
    bottom: 0;
}

svg {
    z-index: 10;
    /* transform-box: fill-box;
    transform-origin: center; */
}